@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=PT+Sans&display=swap&family=Open+Sans:wght@400');

@font-face {
    font-family: 'Nexa';
    src: url('../fonts/nexalight.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}



